<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer data-th-fragment="footer" class="blog-footer bg-inverse">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">© 2019 <a href="https://github.com/authorLi">欢迎到我的github参观</a></p>
        </div>

        <!-- JavaScript -->
        <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
        <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
        <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
        <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
        <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}"></script>
        <script src="../../js/jquery.tag-editor.min.js" th:src="@{/js/jquery.tag-editor.min.js}"></script>
        <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
        <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
        <script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}"></script>
        <script src="../../js/thymeleaf-bootstrap-paginator.js"
                th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
        <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
        <script src="../../js/page.js" th:src="@{/js/page.js}"></script>

    </nav>
</footer>
</body>
</html>